@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --title-font: 'Barlow Condensed', sans-serif;
    --text-font: 'Barlow', sans-serif;
    --light-background: #F5F5F5;
    --darkred-background: #AE2431;
    --darkgray-background: #D9D9D9;
    --main-orange: #DC4405;
}

body {
    background-color: #FFFFFF;
    font-family: var(--title-font)
}

header {
    font-family: var(--title-font);
    font-size: 3rem;
    font-weight: 600;
}

main {
    padding-bottom: 83px;
}

@Media (min-width: 991px) {
    main {
        padding-bottom: 100px;
    }
}

.container-pontos {
    background-color: var(--light-background);
    border: 0.5px solid var(--darkgray-background);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000025;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.container-pontos .container-pontos-text p {
    font-size: 3rem;
    font-weight: 600;
}

@Media(max-width: 547px) {    
    .container-pontos .container-pontos-text p {
        font-size: 2.5rem;
    }

    .container-pontos canvas{
        width: 7rem !important;
        height: 7rem !important;
    }
}

.container-desafio-andamento {
    background-color: var(--darkred-background);
    border: 0.5px solid var(--darkgray-background);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000025;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.container-desafio-andamento .content h5
.container-melhores-desafios .content h5 {
    font-size: 1.5rem;
    font-weight: 400;
}

.container-desafio-andamento .content progress {
    appearance: none;
    max-width: 80%;
}


.container-desafio-andamento .content progress::-webkit-progress-bar {
  background-color: #eee;
  color: #AE2431;
  border-radius: 10px;
}

.container-desafio-andamento .content progress::-webkit-progress-value {
  background-color: var(--main-orange);
  border-radius: 10px;
}

/* Firefox (quem usa esse navegador hj em dia? enfim, apoio a inclusão) */
.container-desafio-andamento .content progress::-moz-progress-bar {
  background-color: var(--main-orange);
  border-radius: 10px;
}

.container-desafio-andamento .content button,
.container-melhores-desafios .content button {
    background-color: var(--main-orange);
    border: none;
    border-radius: 10px 10px 0 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #FFFFFF;
    font-size: 1.4rem;
    width: 9.625rem;
    max-width: 80%;
}

.container-melhores-desafios {
    background-color: var(--light-background);
    border: 0.5px solid var(--darkgray-background);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #00000025;
    color: #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 10px;
}

footer {
    padding: 0 50px;
    background-color: var(--darkgray-background)
}

.icon {
    max-width: 16rem;
    min-width: 1.5625rem;
    height: auto;
    object-fit: contain;
}